/node_modules/



# production


# misc
/config/.env
/.env

# Ignore images globally (if needed)
# /images

# But allow images inside backend
!backend/images/


npm-debug.log*
yarn-debug.log*
yarn-error.log*